/* 1. Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* html et body doivent prendre toute la hauteur */
  background-color: rgb(237, 250, 255);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* pour éviter les débordements horizontaux */
}

#app {
  /* élément racine Vue doit prendre toute la hauteur aussi */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  /* contenu principal prend l'espace disponible */
  flex: 1; 
}

header,
footer {
  width: 100%;
}

h1 {
  margin: 50px 5% 30px;
  color: rgb(94, 97, 255);
}

p {
  margin: 5%;
}
